:root {
  --color: black;
  --background-color: white;
  --button-color: black;
  --button-background-color: black;
  --button-hover-color: red;
  --border: 1px solid grey;
  --font-main: Helvetica, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --header-color: black;
  --header-background-color: white;
  --header-height: 2vh;
  --header-min-height: 45px;
  --header-border: 3px solid black;
  --footer-color: black;
  --footer-background-color: white;
  --footer-height: 2vh;
  --footer-min-height: 20px;
  --footer-border: 3px solid black;
  --sidenav-color: black;
  --sidenav-background-color: white;
}

* {
  font-family: var(--font-main);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  color: var(--color);
  background-color: var(--background-color);
  height: 100%;
  margin: 0;
}

a {
  color: #000;
  margin: 0;
  text-decoration: none;
  transition: all .2s;
}

a:visited {
  color: #000;
  cursor: pointer;
}

a:hover {
  color: var(--button-hover-color);
  cursor: pointer;
}

#divHeader {
  height: var(--header-height);
  min-height: var(--header-min-height);
  color: var(--header-color);
  background-color: var(--header-background-color);
  z-index: 2;
  border-bottom: var(--header-border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#divBody {
  top: max(var(--header-height), var(--header-min-height));
  background-color: var(--background-color);
  position: relative;
}

#divFooter {
  color: var(--footer-color);
  background-color: var(--footer-background-color);
  height: var(--footer-height);
  z-index: 2;
  border-top: var(--footer-border);
  flex-flow: row;
  justify-content: space-between;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#divHeaderFlexLeft {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}

#divHeaderFlexCenter {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}

#divHeaderFlexRight {
  flex-flow: row-reverse;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}

#divSideNav {
  z-index: -1;
  color: #000;
  border-right: var(--header-border);
  background-color: #fff;
  width: 0;
  height: 100%;
  transition: all .4s;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#divSideNavHeader {
  height: var(--header-height);
  min-height: var(--header-min-height);
  color: var(--header-color);
  background-color: var(--header-background-color);
  z-index: 3;
  border-bottom: var(--header-border);
}

#divSideNavBody {
  background-color: #fff;
  padding-top: 20px;
  overflow-y: auto;
}

#divRightNav {
  z-index: -1;
  color: #000;
  border-left: var(--header-border);
  background-color: #fff;
  width: 0;
  height: 100%;
  transition: all .4s;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

#divRightNavBody {
  background-color: #fff;
  padding-top: 20px;
  overflow-y: auto;
}

.divFooterBox {
  font-family: var(--font-mono);
  border-right: var(--footer-border);
  flex-flow: row;
  place-content: stretch center;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50%;
  display: flex;
}

.divHeaderButtons {
  height: max(var(--header-height), var(--header-min-height));
  z-index: 3;
  align-items: center;
  padding-left: 0;
  padding-right: 20px;
  display: flex;
}

.divHeaderText {
  color: var(--accent-color);
  font-size: max(var(--header-height), var(--header-min-height));
  z-index: 3;
  padding-top: 10px;
  font-weight: bold;
}

.svgHeaderButtons {
  fill: none;
  stroke: var(--button-color);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 3;
  height: 100%;
  transition: all .2s;
}

.svgHeaderButtonsUnsellected {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  z-index: 3;
  height: 100%;
  transition: all .2s;
}

.divHeaderButtons:hover, .svgHeaderButtons:hover path, .svgHeaderButtons:hover circle, .svgHeaderButtons:hover line, .svgHeaderButtons:hover polygon {
  stroke: var(--button-hover-color);
  cursor: pointer;
}

#svgCarrotPath {
  transition: all .4s;
}

.svgIcon {
  stroke: #000;
  z-index: 1;
  width: 1em;
  margin-right: 10px;
  transition: all .2s;
}

.svgIcon:hover {
  cursor: pointer;
  stroke: red;
}

.svgIconMedium {
  stroke: #000;
  z-index: 1;
  width: 2em;
  margin-right: 10px;
  transition: all .2s;
}

.svgIconMedium:hover {
  cursor: pointer;
  stroke: red;
}

.svgIconDim {
  stroke: #eee;
}

.clsHidden {
  display: none;
}

.clsVisible {
  display: block;
}

/*# sourceMappingURL=index.9d0406d4.css.map */
